body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.score {
  margin: 10px;
  height: 50px;
  font-size: 25px;
}

.board {
  margin: 20px;
  position: relative;
  
}

.squares {
  position: relative;
  z-index: 100;
  display: grid;  
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.squareScore {
  display: flex;
  
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background: rgb(255, 174, 0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.rise {
  margin: 2px;
}

.riseOnHover:hover {
  margin: 2px;
}

.horizontalConnectors {
  position: absolute;
  top: 0;
  margin: 0 40px;
  display: grid;  
}

.verticalConnectors {
  position: absolute;
  top: 0;
  margin: 40px 0;
  display: grid;  
}

.slashConnectors, .backslashConnectors {
  position: absolute;
  top: 0;
  margin: 40px 40px;
  display: grid;  
}

.connector {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.connectorLine {
  flex-grow: 1;
  height: 8px;
}

.connectorLine.vertical {
  transform: rotate(90deg);
}

.connectorLine.slash {
  transform: rotate(-45deg);
}

.connectorLine.backslash {
  transform: rotate(45deg);
}

/* Efecto de boton tomado de https://uiverse.io/kleenpulse/dangerous-horse-41 */
button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font: 14px "Century Gothic", Futura, sans-serif;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}